#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = {{ .git_name | quote }}
email = {{ .git_email | quote }}

[revset-aliases]
HEAD = "@"

[ui]
editor = {{ .editor | quote }}
diff-editor = ":builtin"
merge-editor = "vscode"

{{ if .git_gpgsign }}
[signing]
behaviour = "drop"
backend = "gpg"
key = {{ .git_signingkey | quote }}

{{ if eq .chezmoi.os "windows" }}
[signing.backends.gpg]
program = {{ .git_gpgprogram }}
{{ end }}
{{ end }}

[git]
{{ if .git_gpgsign }}
sign-on-push = true
{{ end }}
auto-local-bookmark = true
track-default-bookmark-on-clone = true
push-new-bookmark = true